body{margin:0;font-family:Segoe UI;background:#1e1e1e;color:white}
#start{position:fixed;bottom:0;left:0;background:#111;width:60px;height:40px;text-align:center;line-height:40px;cursor:pointer}
#menu{position:fixed;bottom:40px;left:0;width:200px;background:#202020;display:none}
#menu div{padding:10px;cursor:pointer}
#menu div:hover{background:#333}
.window{position:absolute;top:80px;left:120px;width:600px;height:420px;background:#0f172a;color:#e5e7eb;display:none}
.title{background:#2563eb;padding:6px;cursor:move}
textarea{width:100%;height:180px;background:#020617;color:#e5e7eb}
